.spanBlock {
    display: flex;
    align-items: center;
}

.span {
    font-weight: 500;
    font-size: 16px;
    color: #0080FF;
    text-transform: capitalize;
}

.input {
    max-width: 275px;
}

.pen {
    cursor: pointer;
    width: 24px;
    margin-right: 10px;
}