.loader {
    /*свг и/или анимация*/
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid transparent;
    background: 
        linear-gradient(#fff, #fff) padding-box, 
        linear-gradient(rgba(81, 45, 228, 1) 0%, rgba(255, 255, 255, 0) 80%) border-box;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}