.message {
    text-align: end;
}

.imageAndText {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    align-items: end;
}

.imageAndText img {
    max-width: 48px;
    max-height: 48px;
    object-fit: cover;
}

.text {
    position: relative;
    padding: 8px 8px;
    border-radius: 8px 8px 0 8px;
    background-color: #06c;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.text:after {
    content: "";
    position: absolute;
    border-right: 20px solid transparent;
    border-bottom: 12px solid #06c;
    right: -19px;
    bottom: 0;
}

.name {
    font: 600 18px "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 5px;
}

.messageText {
    font: 400 16px "Montserrat", sans-serif;
    color: #fff;
}

.time {
    font: 600 10px "Montserrat", sans-serif;
    color: #000;
    margin: 5px 11px;
}