.sidebar {
    transform: translateX(-1000%);
    transition: transform .5s ease;
    z-index: 99;
    position: absolute;
    background-color: #fff;
    padding: 0 130px 0 70px;
    top: 0;
    bottom: 0;
    left: max(0px, calc((100vw - 1280px) / 2));
}

.sidebar::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    right: 99%;

    width: 100vw;
    background: white;
}

.sidebar.open {
    transform: translateX(0);
}

.background {
    position: absolute;
    z-index: 98;
    background: #000;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.nav a {
    color: #000;
    text-decoration: none;

    font-weight: 600;
    font-size: 22px;
}

.nav a:hover {
    font-weight: 600;
    font-size: 22px;
    color: #58acff;
}

.nav a.active {
    font-weight: 600;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0059b2;
}

.close {}

.close img {}