.burgerMenuIcon {
    cursor: pointer;
}

header {
    box-shadow:
        0 0 2px 0 rgba(29, 33, 38, 0.1),
        0 0 40px 0 rgba(29, 33, 38, 0.13);
}

.header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header h1 {
    font-weight: 600;
    font-size: 24px;
}
