.App {
    --header_height: 60px;
}

.hw {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 25px 0 30px;
}

.hw::before{
    content: "";
    position: absolute;
    width: 99vw;
    height: 1px;
    background-color: #d9d9d9;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hw::after{
    content: "";
    position: absolute;
    width: 99vw;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hwTitle {
    font: 600 22px "Montserrat", sans-serif;
    color: #000;
    margin-bottom: 10px;
}