*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font: 400 14px "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}

section {
  overflow: hidden;
  padding: 0 15px;
  margin-bottom: 35px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
    cursor: pointer;
}

ul,
ol {
  list-style: none;
}