.select {
    font:
        400 14px/1.5 'Montserrat',
        sans-serif;
    max-width: 165px;
    width: 100%;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
}

.select:focus {
}

.option:hover {
}
